

#mySidenav .outer {
  position: absolute;
  right: -250px;
  transition: 0.3s;
  padding: 15px;
  width: 300px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  border-radius: 0 5px 5px 0;
  top: 140px;
}

#mySidenav .outer:hover {
  right: 0;
}


#inner {
  background-color: pink;
}

//

.parent {
  position: relative;
  height: 80px;
  top: 100px;
  right: -100px;

}

.left, .right {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 1em 3em;
  align-content: center;

}
.left {
  padding: .5em 3em;
  top: .5em;
  left: 2em;
  transform: rotate(90deg);

}
.right {
  top: 0;
  left: 8em;
  // top: 100px;
  // right: -100px;

}




