

<div id="mySidenav" class="sidenav"  >
  <div class="outer">
    <div class="bg-pink-100">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, tempora!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, tempora!</p>
    </div>

  </div>
</div>


<div id="mySidenav2" class="mySidenav2" (click)="abc()" >
  <div class="outer">
    <div class="bg-pink-100">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, tempora!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, tempora!</p>
    </div>

  </div>
</div>


<!-- <div class="parent">
  <div class="left">
    <p>Check</p>
    <p>Rates</p>
  </div>
  <div class="right"> right </div>
</div> -->







